* {
  box-sizing: border-box;
}

:root {
  --ff: "Quicksand", sans-serif;

  --cultured1: #f8f9fa;
  --cultured: #e9ecef;
  --gainsboro: #dee2e6;
  --light-gray: #ced4da;
  --cadet-blue: #adb5bd;
  --state-gray: #6c757d;
  --davys-gray: #495057;
  --gunmetal: #343a40;
  --charleston: #212529;

  --gradient: linear-gradient(
    178deg,
    #212529,
    #212529,
    #212529,
    #343a40,
    #495057,
    #6c757d,
    #adb5bd,
    #ced4da,
    #dee2e6,
    #e9ecef,
    #f8f9fa,
    #adb5bd,
    #f8f9fa,
    #f8f9fa
  );
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  grid-template-rows: 2em 12em 3em 60vh;
  height: 100%;
  width: 100%;
  color: var(--cultured1);
  background-color: var(--charleston);
}

.header {
  grid-row: 1/2;
  grid-column: 1/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff);
  font-weight: bold;
}

.header-name {
  padding-left: 1em;
}

.header-note {
  padding-right: 1em;
}

.player-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 12em;
}

.player-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 12em;
}

#score1,
#score2 {
  height: 2.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  margin-top: 0.5em;
  font-size: 1.9rem;
  background: var(--davys-gray);
}

.player-title {
  font-weight: bold;
  font-size: 1.4rem;
  overflow-wrap: break-word;
  width: 100%;
}

select {
  font-family: var(--ff);
}

.game-state {
  display: none;
}

.players-scoreboard {
  grid-row: 2/3;
  grid-column: 2/5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff);
  font-weight: bold;
}

.choose-player {
  display: flex;
  height: 100%;
  width: 15em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choose-players {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.start-game {
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.start-game button {
  background-color: var(--gunmetal);
  border: none;
  color: var(--cultured1);
  font-weight: bold;
  height: 70%;
  width: 80%;
  font-size: 1.2rem;
}

.start-game button:hover {
  background-color: var(--state-gray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button {
  font-family: var(--ff);
}

.start-again {
  display: none;
  background-color: var(--gunmetal);
  border: none;
  color: var(--cultured1);
  font-weight: bold;
  width: 100%;
  height: 2.3em;
  font-size: 1rem;
}

.start-again:hover,
.reset-game:hover {
  background-color: var(--state-gray);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#sign {
  margin-top: 0.5em;
}

.game-board-div {
  height: 100%;
  width: 100%;
  grid-row: 4/5;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gradient);
  background-size: 11000%;
  background-position: left 1% bottom 2%;
  border-radius: 0.2em;
}

@keyframes gameboard-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: bottom;
  }
}

@keyframes gameboard-animation2 {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: left;
  }
}

.reset-game {
  display: none;
  background-color: var(--gunmetal);
  border: none;
  color: var(--cultured1);
  font-weight: bold;
  width: 100%;
  height: 2.3em;
  font-size: 1rem;
}

.game-board {
  width: 60%;
  height: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "top-left top-middle top-right"
    "middle-left middle-center middle-right"
    "bottom-left bottom-middle bottom-right";
  grid-gap: 0.2em;
}

.board {
  background-color: var(--state-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  font-family: var(--ff);
  cursor: pointer;
}

.board:hover {
  background-color: var(--davys-gray);
}

#top-left {
  grid-area: top-left;
}

#top-middle {
  grid-area: top-middle;
}

#top-right {
  grid-area: top-right;
}

#middle-left {
  grid-area: middle-left;
}

#middle-center {
  grid-area: middle-center;
}

#middle-right {
  grid-area: middle-right;
}

#bottom-left {
  grid-area: bottom-left;
}

#bottom-middle {
  grid-area: bottom-middle;
}

#bottom-right {
  grid-area: bottom-right;
}

.top {
  border-bottom: 4px solid;
}

.middle {
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: var(--charleston);
}

.bottom {
  border-top: 4px solid;
  border-color: var(--charleston);
}

.left {
  border-right: 4px solid;
  border-color: var(--charleston);
}

.center {
  border-left: 4px solid;
  border-right: 4px solid;
  border-color: var(--charleston);
}

.right {
  border-left: 4px solid;
  border-color: var(--charleston);
}

@media only screen and (max-width: 1300px) {
  .game-board-div {
    grid-column: 2/5;
  }
}
@media only screen and (max-width: 1000px) {
  .game-board-div {
    grid-column: 1/6;
  }
  .board {
    font-size: 10vw;
  }
}

@media only screen and (max-width: 900px) {
  .game-board {
    width: 70%;
  }
  .board {
    font-size: 13vw;
  }
}

@media only screen and (max-width: 650px) {
  .players-scoreboard {
    grid-column: 1/6;
  }
  .choose-player {
    width: 10em;
  }
  .choose-players {
    display: flex;
    flex-direction: column;
  }
  .game-board {
    width: 90%;
  }
  .board {
    font-size: 20vw;
  }
}

@media only screen and (max-width: 650px) {
  .player-1 {
    max-width: 7em;
  }
  .player-2 {
    max-width: 7em;
  }
}
